@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #8eb0d4 0%, #b1cbe2 50%, #b9a3f4 100%);
}

.navbar {
  background: linear-gradient(90deg, #342380 10%, rgb(46, 48, 170) 70%, rgb(57, 90, 199) 100%);
  color: white;
}
.navbar .nav-container .navbar-nav .nav-link {
  font-weight: 500;
  color: inherit;
}
.navbar .nav-container .toggler-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .nav-container .toggler-group .navbar-toggler {
  border-color: white;
  box-shadow: none;
}
.navbar .nav-container .toggler-group .navbar-toggler .navbar-toggler-icon {
  filter: invert(100%);
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-section .section-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.main-section {
  padding: 0;
}
.main-section .picture-container {
  width: 100%;
  max-width: 2140px;
}
.main-section .main-banner {
  width: 100%;
}
.main-section .btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
}
.main-section .btn-container .btn {
  padding: 6px 20px;
  font-weight: 500;
}
.main-section .btn-container .btn-registrarse {
  color: #08086e;
  border: 2.5px solid transparent;
  transition: border-color 0.5s ease-in-out;
}
.main-section .btn-container .btn-registrarse.focus {
  border-color: rgb(9, 9, 121);
}
@keyframes borderPulse {
  0% {
    border-color: rgb(9, 9, 121);
  }
  25% {
    border-color: #304abd;
  }
  50% {
    border-color: #2687e2;
  }
  75% {
    border-color: #6a54cc;
  }
  100% {
    border-color: transparent;
  }
}
.main-section .btn-container .btn-registrarse.focus-anim {
  animation: borderPulse 2s ease-in-out;
}

.page-section {
  color: white;
}
.page-section .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 992px;
  padding: 30px 16px 40px;
  text-align: justify;
}
.page-section .cta-btn {
  padding-left: 14px;
  padding-right: 14px;
  color: #0e0f58;
  font-weight: 500;
}
.page-section .dark-btn {
  padding-left: 14px;
  padding-right: 14px;
  background-color: #23237e;
  border: none;
  color: white;
  font-weight: 500;
}

.page-section.trabajos-libres {
  background-color: rgba(35, 35, 126, 0.8156862745);
}
.page-section.trabajos-libres .info-container .section-p {
  margin-bottom: 25px;
}
.page-section.trabajos-libres .info-container .section-p:last-child {
  margin-bottom: 0;
}
.page-section.trabajos-libres .info-container .section-p.emphasis {
  font-weight: 600;
}
.page-section.trabajos-libres .info-container .span-group {
  margin-bottom: 25px;
  text-align: center;
}
.page-section.trabajos-libres .info-container .span-group .email-span {
  color: #ddebfa;
  transition: color ease-in-out 0.15s;
}
.page-section.trabajos-libres .info-container .span-group .email-span:hover {
  color: #8bb6e4;
}

.page-section.tc-primary {
  background-color: #23237e;
}

.page-section.tc-secondary {
  background-color: rgba(25, 71, 196, 0.6431372549);
}

.gradient-box {
  width: 100%;
  height: 80px;
}

.gradient-box.one {
  background: linear-gradient(0deg, rgba(35, 35, 126, 0.8156862745) 0%, rgba(35, 35, 126, 0) 100%);
  background: linear-gradient(0deg, rgba(25, 71, 196, 0.64) 0%, rgba(35, 35, 126, 0) 100%);
}

.gradient-box.two {
  background: linear-gradient(180deg, rgba(25, 71, 196, 0.64) 0%, rgba(35, 35, 126, 0.82) 100%);
}

@media screen and (min-width: 769px) {
  .navbar .nav-container .toggler-group .toggler-span {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar .nav-container .navbar-nav {
    margin-top: 10px;
  }
  .navbar .nav-container .toggler-group .navbar-toggler .navbar-toggler-icon {
    width: 25px;
  }
  .main .page-section .section-title {
    font-size: 24px;
  }
}/*# sourceMappingURL=index.css.map */