@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$bg-blue: rgba(9,9,121,1);
$darkButton: #23237e;
$purple: #532685;
$previous-background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #93b0eb 0%, #a2d4f1 50%, #7bc5f0 100%);
}

.navbar {
    background: linear-gradient(90deg, #244a96 10%, #1474ac 70%, #368cbe 100%);
    // background-color: #3c91c2;
    color: white;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);

    .nav-container {
        .navbar-nav {
            .nav-link {
                font-weight: 450;
                font-size: 15px;
                color: inherit
            }
            .nav-link:hover {
                color: #e0ebf7;
            }
        }

        .toggler-group {
            display: flex;
            align-items: center;
            gap: 10px;

            .navbar-toggler {
                border-color: white;
                box-shadow: none;
                padding: 0 4px;
    
                .navbar-toggler-icon {
                    filter: invert(100%);
                    width: 25px;
                }
            }
        }

    }
}

.main-section {
    padding: 0;

    .picture-container {
        width: 100%;
        max-width: 2140px;
    }
    .main-banner {
        width: 100%;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 25px 0;

        .btn {
            padding: 6px 20px;
            font-weight: 500;
        }

        .btn-registrarse {
            color: #3c91c2;
            border: 2.5px solid transparent;
            transition: border-color 0.5s ease-in-out;
            transition: background-color 0.25s ease-in-out;
        }

        .btn-registrarse:hover {
            background-color: $purple;
            color: white;
        }
        .btn-registrarse:active {
            background-color: $purple;
            color: white;
        }

        .btn-registrarse.focus {
            border-color: $bg-blue;
        }

        @keyframes borderPulse {
            0% { border-color: $bg-blue; }
            25% { border-color: #304abd; }
            50% { border-color: #2687e2; }
            75% { border-color: #6a54cc; }
            100% { border-color: transparent; }
        }
        
        .btn-registrarse.focus-anim {
            animation: borderPulse 2s ease-in-out;
        }
    }
}

.page-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 25px;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 992px;
        padding: 30px 16px 40px;
        text-align: justify;
    }
    .info-container.md {
        max-width: 768px;
    }

    .cta-btn {
        $px: 14px;
        padding-left: $px;
        padding-right: $px;
        color: #002e4d;
        font-weight: 500;
    }

    .dark-btn {
        $px: 14px;
        padding-left: $px;
        padding-right: $px;
        background-color: #23237e;
        border: none;
        color: white;
        font-weight: 500;
    }
    .dark-btn:hover {
        background-color: #181866;
    }

    .section-p, .cta-btn, .btn, p, li, span {
        font-size: 15.5px;
    }
}
.page-section.inscripciones {
    background: linear-gradient(90deg, #244a96 0%, #1474ac 50%, #368cbe 100%);
    background-size: 150% 150%;
    animation: gradient-animation 10s ease-in-out infinite;
    padding: 40px 16px;
    
    .info-container {
        display: flex;
        flex-direction: row;
        gap: 20px;

        
        .info-col:first-child {
            display: flex;
            justify-content: center;
            width: 40%;

            p {
                margin-bottom: 0;
                font-size: 32px;
                font-family: 'Raleway', system-ui, sans-serif;
            }

            .lead {
                font-family: 'Oswald', system-ui, sans-serif;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 40px;
            }
        }

        .info-col:last-child {
            width: 60%;

            h3 {
                font-size: 17px;
                margin-bottom: 16px;
            }

            .slogan-text {
                margin-bottom: 20px;
                font-style: italic;
            }

            .inscripcion-btn {
                color: #00244d;
                // font-family: 'Raleway', 'Poppins', system-ui, sans-serif;
                font-weight: 400;
                // letter-spacing: .2px;
            }

            .section-p {
                margin-bottom: 18px;
            }

        }
    }
}
.page-section.trabajos-libres {
    background-color: #2c5a9e;
    // background: linear-gradient(90deg, #244a9680 10%, #1474ac 70%, #368cbe 100%);

    .info-container {
        .section-p {
            margin-bottom: 25px;
        }
        .section-p:last-child {
            margin-bottom: 0;
        }
        .section-p.emphasis {
            font-weight: 600;
        }
        .section-p.mb-sm {
            margin-bottom: 20px;
        }
        .section-p.mb-lg {
            margin-bottom: 30px;
        }

        .span-group {
            margin-bottom: 25px;
            text-align: center;

            .email-span {
                color: #d1e1f1;
                transition: color ease-in-out .15s;
            }
            .email-span:hover {
                color: #8bb6e4
            }
        }

        .std-btn:hover {
            color: #002e4d;
        }
    }
}
.page-section.premios {
    .info-container {
        padding: 40px 0;
    }

    .card-container {
        width: 768px;
        padding: 20px 20px 30px;
        background-color: inherit;
        background: rgba(255, 255, 255, 0.55);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.6px);
        -webkit-backdrop-filter: blur(3.6px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: #170b49;

        .section-title {
            margin-top: 10px;
            margin-bottom: 20px;
            font-weight: 600;
            color: #191e68;
        }

        .premios-list {
            margin-bottom: 20px;
            padding-left: 24px;

            .list-item {
                margin-bottom: 5px;
                text-align: left;
            }
        }

        .button-container {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            // justify-content: center;
            // align-items: center;
            flex-direction: column;
            width: max-content;

            .glass-button {
                padding: 8px 14px;
                border-radius: 8px;
                margin-bottom: 10px;
                background-color: #262681;
                border: none;
            }
            .glass-button:hover {
                background-color: #1e1e70;
            }
            .glass-button:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.page-section.caminata {
    padding: 40px 0;

    .caminata-article {
        display: flex;
        flex-direction: column;
        align-items: center;

        .article-poster {
            margin-bottom: 20px;

            .poster-picture {
                max-width: 992px;
                border-radius: 8px;

                .poster-ls {
                    max-width: inherit;
                    border-radius: inherit;
                    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .form-button {
            border: solid 1px $darkButton;
        }
    }
}

// Estilos generales
.page-section.tc-primary {
    background-color: #23237e;
}
.page-section.tc-secondary {
    background-color: #1947c4a4;
}

.gradient-box {
    width: 100%;
    height: 80px;
}
.gradient-box.one {
    // display: none;
    // height: 60px;
    background: linear-gradient(0deg, #23237ed0 0%, #23237e00 100%);
    background: linear-gradient(0deg, rgba(25, 71, 196, 0.64) 0%, rgba(35,35,126,0) 100%);
}
.gradient-box.two {
    background: linear-gradient(180deg, rgba(25, 71, 196, 0.64) 0%, rgba(35,35,126,0.82) 100%);
}
.gradient-box.two-out {
    background: linear-gradient(180deg, rgba(35,35,126,0.82) 0%, rgba(35, 35, 126, 0.555) 40%,  rgba(0, 0, 0, 0) 100%);
}
.gradient-box.purple-in {
    background: linear-gradient(0deg, rgba(71, 48, 146, 1) 0%, rgb(71, 48, 146, 0.555) 40%,  rgba(0, 0, 0, 0) 100%);
}

// ANIMACIONES

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 1080px) {
    .caminata-article {
        .article-poster {
            padding: 0 20px;

            .poster-ls {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .page-section.premios {
        $mx: 10px;
        margin-left: $mx;
        margin-right: $mx;

        .card-container {
            width: 100%;
            $px: 16px;
            padding-left: $px;
            padding-right: $px;
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        .nav-container {
            .toggler-group {
                .toggler-span {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .nav-container {
            .navbar-nav {
                margin-top: 10px;
            }

            .toggler-group {
                .navbar-toggler {
                    .navbar-toggler-icon {
                        width: 25px;
                    }
                }
            }
        }
    }

    .main {
        .page-section {
            .section-title {
                font-size: 24px;
            }
        }

    }

    .page-section.inscripciones {
        .info-container {
            flex-direction: column;
            padding: 0;

            .info-col:first-child, .info-col:last-child {
                width: 100%;
            }

            .info-col:first-child {
                padding: 12px 0;
                
                p {
                    font-size: 28px;
                }

                .lead {
                    font-size: 32px;
                }
            }

            .info-col:last-child {
                .cta-container {
                    display: flex;
                    justify-content: center;
                    margin-top: 24px;
                }
            }
        }
    }

    .caminata-article {
        .article-poster {
            padding: 0 10px;
        }
    } 
}