@use 'SalaSimulacion.scss';
@use 'Eponimo.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Ramaraja&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$bg-blue: rgba(9,9,121,1);
$darkButton: #23237e;
$purple: #532685;
$previous-background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);
// Fonts
$ffOswald: 'Oswald', system-ui, sans-serif;
$ffRaleway: 'Raleway', system-ui, sans-serif;

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #93b0eb 0%, #a2d4f1 50%, #7bc5f0 100%);
}

.navbar {
    background: linear-gradient(90deg, #244a96 10%, #1474ac 70%, #368cbe 100%);
    // background-color: #3c91c2;
    color: white;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);

    .nav-container {
        .navbar-nav {
            .nav-link {
                font-weight: 450;
                font-size: 15px;
                color: inherit
            }
            .nav-link:hover {
                color: #e0ebf7;
            }
        }

        .toggler-group {
            display: flex;
            align-items: center;
            gap: 10px;

            .navbar-toggler {
                border-color: white;
                box-shadow: none;
                padding: 0 4px;
    
                .navbar-toggler-icon {
                    filter: invert(100%);
                    width: 25px;
                }
            }
        }

    }
}

.main-section {
    padding: 0;

    .picture-container {
        width: 100%;
        max-width: 2140px;
    }
    .main-banner {
        width: 100%;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 25px 0;

        .btn {
            padding: 6px 20px;
            font-weight: 500;
        }

        .btn-registrarse {
            color: #3c91c2;
            border: 2.5px solid transparent;
            transition: border-color 0.5s ease-in-out;
            transition: background-color 0.25s ease-in-out;
        }

        .btn-registrarse:hover {
            background-color: $purple;
            color: white;
        }
        .btn-registrarse:active {
            background-color: $purple;
            color: white;
        }

        .btn-registrarse.focus {
            border-color: $bg-blue;
        }

        @keyframes borderPulse {
            0% { border-color: $bg-blue; }
            25% { border-color: #304abd; }
            50% { border-color: #2687e2; }
            75% { border-color: #6a54cc; }
            100% { border-color: transparent; }
        }
        
        .btn-registrarse.focus-anim {
            animation: borderPulse 2s ease-in-out;
        }
    }
}

.page-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    .section-title {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 25px;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 992px;
        text-align: justify;
    }
    .info-container.md {
        max-width: 768px;
    }

    .cta-btn {
        $px: 14px;
        padding-left: $px;
        padding-right: $px;
        color: #002e4d;
        font-weight: 500;
    }

    .dark-btn {
        $px: 14px;
        padding-left: $px;
        padding-right: $px;
        background-color: #23237e;
        border: none;
        color: white;
        font-weight: 500;
    }
    .dark-btn:hover {
        background-color: #181866;
    }

    .section-p, .cta-btn, .btn, p, li, span {
        font-size: 15.5px;
    }

    .fw-500 {
        font-weight: 500;
    }

    .title-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;

        .upper-title {
            font-size: 34px;
            font-family: $ffOswald;
            font-weight: 500;
            line-height: 40px;
        } 
        .lower-title {
            font-size: 26px;
            font-family: $ffRaleway;
            font-weight: 500;
        }
    }
}
.page-section.main-section {
    padding: 0;
}
.page-section.inscripciones {
    background: linear-gradient(90deg, #244a96 0%, #1474ac 50%, #368cbe 100%);
    background-size: 150% 150%;
    animation: gradient-animation 10s ease-in-out infinite;
    padding: 70px 32px;
    
    .info-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        .info-col:first-child {
            display: flex;
            justify-content: center;
            width: 40%;

            p {
                margin-bottom: 0;
                font-size: 32px;
                font-family: 'Raleway', system-ui, sans-serif;
            }

            .lead {
                font-family: 'Oswald', system-ui, sans-serif;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 40px;
            }
        }

        .info-col:last-child {
            width: 60%;

            h3 {
                font-size: 17px;
                margin-bottom: 18px;
            }

            .slogan-text {
                margin-bottom: 20px;
                font-style: italic;
            }

            .inscripcion-btn {
                color: #063352;
                font-weight: 400;
                padding: 7px 14px;
                font-family: $ffRaleway;
                font-weight: 600;
                font-size: 14.5px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
            }

            .section-p {
                margin-bottom: 18px;
            }

            .phone-link {
                color: white;
                transition: opacity 0.15s ease;
            }
            .phone-link:hover {
                opacity: 0.8;
            }
        }

    }
}
.page-section.trabajos-libres {
    background-color: #2c5a9e;
    // background: linear-gradient(90deg, #244a9680 10%, #1474ac 70%, #368cbe 100%);

    .info-container {
        padding-bottom: 45px;

        .section-title {
            margin-bottom: 28px;
        }

        .section-p {
            margin-bottom: 25px;
        }
        .section-p:last-child {
            margin-bottom: 0;
        }
        .section-p.emphasis {
            font-weight: 600;
        }
        .section-p.mb-sm {
            margin-bottom: 20px;
        }
        .section-p.mb-lg {
            margin-bottom: 30px;
        }

        .span-group {
            margin-bottom: 25px;
            text-align: center;

            .email-span {
                color: #d1e1f1;
                transition: color ease-in-out .15s;
            }
            .email-span:hover {
                color: #8bb6e4
            }
        }

        .std-btn:hover {
            color: #002e4d;
        }

        .button-group {
            gap: .75rem;
        }
    }
}

.page-section.programa-cientifico {
    background-color: #203f88;
    
    .section-title {
        font-family: 'Oswald', system-ui, 'Segoe UI', sans-serif;
        text-transform: uppercase;
    }

    .info-container {
        gap: 26px;
    }

    .program-thumbnail {
        max-width: 400px;
        width: 100%;
        height: auto;
        border-radius: 6px;
        box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
        transition: opacity 0.15s ease;
        margin-bottom: 4px;
    }
    
    .program-link {
        text-decoration: none;
        position: relative;

        .hidden-help-text {
            color: white;
            width: max-content;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .15s ease;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 6px 12px;
            border-radius: 20px;
            backdrop-filter: blur(4px);
        }
    }
    .program-link:hover {
        .program-thumbnail {
            opacity: 0.65;
        }

        .hidden-help-text {
            opacity: 1;
        }
    }

    .download-btn:hover {
        color: #03102e;
    }
}

.logo-text-wrapper {
	display: flex;
	align-items: center;
	height: fit-content;
	font-size: 24px;

	.roman-span {
		font-family: 'New Amsterdam', 'Poppins', sans-serif;
		font-size: 3em;
		line-height: 1em;
		display: inline-block;
		transform: scaleY(1.25);
		transform-origin: center;
		// letter-spacing: -0.5px;
	}

	.text-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 10.6em;

		p {
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.congreso-text {
			font-family: 'Oswald', sans-serif;
			font-weight: 450;
			line-height: 1.2em;
			margin-bottom: 0.15em;
			font-size: 0.7em;
		}

		.eponimo-text {
			font-family: 'Ramaraja', serif;
			font-size: 0.65em;
		}
	}
}

// Estilos generales
.page-section.tc-primary {
    background-color: #23237e;
}
.page-section.tc-secondary {
    background-color: #1947c4a4;
}

.gradient-box {
    width: 100%;
    height: 80px;
}
.gradient-box.one {
    // display: none;
    // height: 60px;
    background: linear-gradient(0deg, #23237ed0 0%, #23237e00 100%);
    background: linear-gradient(0deg, rgba(25, 71, 196, 0.64) 0%, rgba(35,35,126,0) 100%);
}
.gradient-box.two {
    background: linear-gradient(180deg, rgba(25, 71, 196, 0.64) 0%, rgba(35,35,126,0.82) 100%);
}
.gradient-box.two-out {
    background: linear-gradient(180deg, rgba(35,35,126,0.82) 0%, rgba(35, 35, 126, 0.555) 40%,  rgba(0, 0, 0, 0) 100%);
}
.gradient-box.purple-in {
    background: linear-gradient(0deg, rgba(71, 48, 146, 1) 0%, rgb(71, 48, 146, 0.555) 40%,  rgba(0, 0, 0, 0) 100%);
}

.ws-pw {
    white-space: pre-wrap;
}

// ANIMACIONES

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        .nav-container {
            .toggler-group {
                .toggler-span {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .nav-container {
            .navbar-nav {
                margin-top: 10px;
            }

            .toggler-group {
                .navbar-toggler {
                    .navbar-toggler-icon {
                        width: 25px;
                    }
                }
            }
        }
    }

    .main {
        .page-section:not(.main-section) {
            $paddingX: 16px;
            padding-left: $paddingX;
            padding-right: $paddingX;

            .section-title {
                font-size: 24px;
            }
        }

    }

    .page-section.inscripciones {
        $paddingY: 50px;
        padding-top: $paddingY;
        padding-bottom: $paddingY;

        .info-container {
            flex-direction: column;
            padding: 0;

            .info-col:first-child, .info-col:last-child {
                width: 100%;
            }

            .info-col:first-child {
                padding: 12px 0;
                
                p {
                    font-size: 28px;
                }

                .lead {
                    font-size: 32px;
                }
            }

            .info-col:last-child {
                .cta-container {
                    display: flex;
                    justify-content: center;
                    margin-top: 24px;
                }
            }
        }
    }

    .page-section.programa-cientifico {
        .title-group {
            .upper-title {
                font-size: 30px;
            }
            .lower-title {
                font-size: 25px;
            }
        }
    }
}